{% extends "base.html" %}
{% block title %}Fan Control{% endblock %}

{% block content %}
<div class="headline"><b>Fan Control Center</b></div>

<div id="values" class="section">
	<div class="valuecontainer">
		<span class="label">Service running</span><span class="value" data-src="/api/get/service-status" id="servicestatus">service</span>
	</div>

	<div class="valuecontainer">
		<span class="label">Fan running</span><span class="value" data-src="/api/get/fan-status" id="fanstatus">fan</span>
	</div>
	
	<div class="valuecontainer">
		<span class="label">Temperature</span><span class="value" data-src="/api/get/temperature" id="temperature">temp</span>°C
	</div>
	
	<div class="valuecontainer">
		<span class="label">PWM Signal</span><span class="value" data-src="/api/get/pwm" id="pwm">pwm</span>
	</div>
</div>

<div id="controls" class="section">
    
    <div id ="control-status-running"></div>
    <div class="button control" id="control-start" data-command="start">Start</div>
    <div class="button control" id="control-stop"  data-command="stop" >Stop</div>
    
</div>

{% endblock %}
