{% extends "base.html" %}
{% block title %}Fan Control{% endblock %}

{% block content %}
<div class="headline"><b>Fan Control Center</b></div>

<div id="values" class="section">
	<div class="valuecontainer">
		<span class="label">Service running</span><span class="value update" data-src="/api/get/service-status" id="servicestatus">service</span>
	</div>

	<div class="valuecontainer">
		<span class="label">Fan running</span><span class="value update" data-src="/api/get/fan-status" id="fanstatus">fan</span>
	</div>
	
	<div class="valuecontainer">
		<span class="label">Temperature</span><span class="value update" data-src="/api/get/temperature" id="temperature">temp</span>°C
	</div>
	
	<div class="valuecontainer">
		<span class="label">PWM Signal</span><span class="value update" data-src="/api/get/pwm" id="pwm">pwm</span>
	</div>
</div>

<div id="control-start-stop" class="section">    
    <div id ="control-status-running"></div>
    <div class="button control control-stop"  id="control-stop"  data-command="stop" >Stop</div>
    <div class="button control control-start" id="control-start" data-command="start">Start</div>      
</div>

<div id="control-edge-temperatures" class="section">
    
    <div class="new-values">
    
        <div class="input-container">
            <input type="number" class="temp-input" id="new-stop-value" name="new-stop-value" min="10" max="60" data-src="/api/get/stop-temperature">
            <div class="unit">
                <span> °C</span>
            </div>
        </div>
        
        <div class="input-container">
            <input type="number" class="temp-input" id="new-start-value" name="new-start-value" min="10" max="60" data-src="/api/get/start-temperature">
            <div class="unit">
                <span> °C</span>
            </div>
        </div>
        
        <div id="new-values-status"></div>
        <div class="button control-send" id="new-start-stop">send</div>
    </div>

</div>


{% endblock %}
