
#content{
    left: 20px;
    position: relative;
}

.headline {
    padding-bottom: 15px;
}

.section {
    padding-bottom: 10px;
}


.label {
    display: inline-block;
    width: 200px;
}

.value {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
}


.temp-value {
    display: inline-block;
    width: 100px;
}

.temp-input {
    width: 75px;
    text-align: right;
    border-color: black;
    border-width: thin;
    padding: 2px;
}

.input-container {
    display: inline-block;
}

.unit {
    display: inline-block;
    width: 25px;
    padding: 2px;
    margin-left: -5px;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: thin;    
}

.button {
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.control-send,
.control-start {
    background: #dcdcdc;
}

.control-stop {
    background: #d40404;
}
